

/* Oculta scrollbar visualmente, pero conserva el scroll funcional */
.sidebar-scroll::-webkit-scrollbar {
  display: none;
}
.sidebar-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

