
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";
@theme{
    --font-sans: 'Arimo', sans-serif;
    --font-heading: 'Montserrat', sans-serif;
}

body {
    font-family: var(--font-sans);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
}

/* Scrollbar personalizado */
.scrollbar-thin::-webkit-scrollbar {
    width: 8px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Scrollbar oculto por defecto (transparente) */
.scrollbar-thin::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}

/* Scrollbar visible al hacer hover sobre el contenedor */
.sidebar-container:hover .scrollbar-thin::-webkit-scrollbar-thumb {
    background: #9ca3af;
}

.sidebar-container:hover .scrollbar-thin::-webkit-scrollbar-thumb:hover {
    background: #6b7280;
}

/* Para Firefox */
.scrollbar-thin {
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.sidebar-container:hover .scrollbar-thin {
    scrollbar-color: #9ca3af #f1f1f1;
}






